@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body
{
	font-family: 'Karla', sans-serif;
	line-height: 160%;
	font-weight: normal;
}
.navbar-nav .nav-link
{
	color: #ffffff;
	font-weight: 400;
	letter-spacing: 1px;
}
#main-content
{
	background: #151618;
	padding: 6rem 8rem;
	margin: 6px;
	border-radius: 20px;
	color: #ffffff;
	font-size: 15px;
	line-height: 180%;
}
h1.hero-text
{
	font-family: 'Spectral', serif;
	font-size: 3rem;
	line-height: 160%;
	letter-spacing: 0;
	font-weight: 400;
}
.highlight
{
	border-bottom: 1px solid #F7E695;
	color: #F7E695;
	font-weight: 700;
}
.greetings,
h3.sub-title
{
	text-transform: uppercase;
	font-size: 15px;
	color: #ADADAD;
	letter-spacing: 1px;
}
.bg
{
	border: 1px solid red;
}
.middle-align-content
{
	margin-top: auto;
	margin-bottom: auto;
}
.main-image
{
	text-align: right;
}
.box-content
{
	padding-right: 5rem;
	height: 100%;

}
.past-clients
{
	padding: 5rem auto !important;
}
.past-clients img
{
	opacity: 0.3;
}
.past-clients img:hover
{
	opacity: 1; 
	-moz-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	-webkit-transition: all 0.8s ease-out;
	-ms-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
}
.pull-right
{
	text-align: right;
}
.quote-container
{
	background: #191A1C;
	padding: 4rem;
	margin: 2rem 0;
}
.quote-container span.quote
{
	font-size: 2rem;
	color: #ffffff;
	font-family: 'Spectral', serif;
	letter-spacing: 0.6;
	font-weight: 300;
	line-height: 160%;
}
.btn.btn-main
{
    background: #F7E695;
    color: #151618;
    border-radius: 200px;
    font-size: 14px;
    font-weight: 800;
    padding: 1rem 3rem;
}
.btn.btn-main.bordered
{
	background: transparent;
	color: #F7E695;
	border: 1px solid #F7E695;
}
h2.title
{
	text-align: center;
	font-family: 'Spectral', serif;
	letter-spacing: 0.6;
	font-weight: 300;
	line-height: 160%;
	font-size: 2rem;
	padding-bottom: 1rem;
}
.testimonials-box h2.title
{
	color: #151618;
	font-size: 40px;
	line-height: 140%;
	padding: 2rem 0;
}
h2.title .yellow-block
{
	display: block;
	color: #F7E695;
}
h3.sub-title
{
	text-align: center;
}
.offering-box
{
	text-align: center;
	padding: auto 2rem;
	width: 75%;
	margin: 0 auto;
}
.offering-box h1.title
{
	font-size: 24px;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 400;
}
.offering-box p
{
	font-size: 15px;
}
a.about-more
{
	color: #f6e58d;
	font-weight: bold;
	font-family: Karla;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.box-value
{
	background: #151618;
	text-align: center;
	color: #ffffff;
	padding: 5rem 1rem;
	margin: 0 5rem;
	border-radius: 24px;
}
.box-value h1.title
{
	font-family: 'Spectral', serif;
	font-size: 2rem;
	line-height: 130%;
	letter-spacing: 0;
}
.or-option
{
	display: inline-block;
	padding-left: 12px;
	padding-right: 12px;
	font-style: italic;
	letter-spacing: 1px;
}
.icon
{
	padding: 16px;
    width: 60px;
    display: block;
    margin: 1rem auto;
    background: #263132;
    border-radius: 24px;
}
.icon img
{
	height: 24px;
}
footer
{
	text-align: center;
	padding: 3rem;
	font-family: 'Spectral', serif;
}
footer .b
{
	font-weight: bold;
}